/* ----- NAV STUFF ----- */

nav{
	width: 60%;
}

nav, .headings{
	float: left;
}

nav ul a{
	padding: 10px;
	background: grey;
	text-transform: uppercase;
	cursor: pointer;
	display: block;
	margin-bottom: 10px;
}