<!DOCTYPE html>
<html>
<head>
  <title>Bloodborne Chalice Guide</title>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
  <link rel="stylesheet" href="static/styles.css" type="text/css"/>
</head>
<body>
  <nav>
    <ul>
    {% for chalice in chalices %}
      {% for name in chalice.keys() %}
        <li>{{ name }}</li>
      {% endfor %}
    {% endfor %}
    </ul>
  </nav>

  <ul class="headings">
    <li><a class="rites">Additional Rites</a></li>
    <li><a class="glyph">Chalice Glyph</a></li>
    <li><a class="weapons">Weapons</a></li>
    <li><a class="materials">Materials</a></li>
  </ul>
</body>
</html>
