<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bloodborne Chalice Guide</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/main.css"/>
</head>
<body>
    <div class="wrapper">
        <div class="container">
        	<nav>
        		<input type="text" class="name-search" placeholder="Search">
        		<ul>
        			<li class="active">{{ names[0] }}</li>
		            {% for name in names[1:] %}
						<li>{{ name }}</li>
		            {% endfor %}
            	</ul>
            </nav>

            {% for glyph in glyphs %}
                {% if glyph.name == names[0] %}
                    <h1>{{ glyph.glyph }}</h1>
                    <p>{{ glyph.notes }}</p>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</body>
</html>