@import "base/mixins";

$main-colour: #989895;

body{
	background: url('../img/bg.jpg') no-repeat;
}

.wrapper{
	max-width: 1080px;
	width: 90%;
	margin: 0 auto;
}

.container{
	background: rgba(0, 0, 0, 0.65);
	border: 1px solid #909497;
	display: block;
	margin-top: 40px;
	@include size(100%);
}

input.name-search {
    background-color: transparent;
    border: 2px solid $main-colour;
    margin-left: 20px;
    margin-top: 30px;
    font-style: italic;
    padding-left: 5px;
    color: $main-colour;
    @include size(208px, 30px);
}

ul{
	color: $main-colour;
	padding-left: 20px;

	li{
		list-style: none;
		margin-bottom: 10px;
		cursor: pointer;
		transition: 0.3s;
		max-width: 210px;
		padding: 5px 0 5px 5px;
		border-bottom: 1px solid transparentize($main-colour, 0.6);

		&:hover, &.active{
			border: 1px solid transparentize($main-colour, 0.3);
			box-shadow: 0px 0px 16px 0px rgba(152,152,149,0.4);
		}
	}
}